.header {
    border-radius: 5px;
    border-color: blue;
    border-style: solid;
    margin: 30px;

}

.nav {
    text-align: center;
    margin: 20px 0;
    width: 100%;
    
}

.body {
    text-align: auto;
    background-color:lavender;
}